In [1]:
import os
import json
from pathlib import Path
import gzip
import hashlib
import shutil

import pandas as pd
import pygeohash
import s3fs

import uuid
import math

In [2]:
endpoint_url = 'https://storage.budsc.midwest-datascience.com'

In [3]:
current_dir = Path(os.getcwd()).absolute()
results_dir = current_dir.joinpath('results')

In [4]:
if results_dir.exists():
    shutil.rmtree(results_dir)
results_dir.mkdir(parents=True, exist_ok=True)
kv_dir = results_dir.joinpath('kv')
kv_dir.mkdir(parents=True, exist_ok=True)

In [5]:
def read_jsonl_data():
    s3 = s3fs.S3FileSystem(
        anon=True,
        client_kwargs={
            'endpoint_url': endpoint_url
        }
    )
    src_data_path = 'data/processed/openflights/routes.jsonl.gz'
    with s3.open(src_data_path, 'rb') as f_gz:
        with gzip.open(f_gz, 'rb') as f:
            records = [json.loads(line) for line in f.readlines()]
            
    return records

In [6]:
def flatten_record(record):
    flat_record = dict()
    for key, value in record.items():
        if key in ['airline', 'src_airport', 'dst_airport']:
            if isinstance(value, dict):
                for child_key, child_value in value.items():
                    flat_key = '{}_{}'.format(key, child_key)
                    flat_record[flat_key] = child_value
        else:
            flat_record[key] = value
            
    return flat_record

In [7]:
def create_flatten_dataset():
    records = read_jsonl_data()
    return pd.DataFrame.from_records([flatten_record(record) for record in records])

In [8]:
df = create_flatten_dataset()
df['key'] = df['src_airport_iata'].astype(str) + df['dst_airport_iata'].astype(str) + df['airline_iata'].astype(str)
df['key_init'] = df['key'].astype(str).str[0]

In [9]:
partitions = (
    ('A', 'A'), ('B', 'B'), ('C', 'D'), ('E', 'F'),
    ('G', 'H'), ('I', 'J'), ('K', 'L'), ('M', 'M'),
    ('N', 'N'), ('O', 'P'), ('Q', 'R'), ('S', 'T'),
    ('U', 'U'), ('V', 'V'), ('W', 'X'), ('Y', 'Z')
)

7.a

In [10]:
def kv_key(row):
    for letter in partitions:
        if row['key_init'] in letter:
            if letter[0] == letter[1]:
                # return (print(letter[0]))
                part = letter[0]
            else:
                # return (print(f'{letter[0]}-{letter[1]}'))
                part = f'{letter[0]}-{letter[1]}'
        
            return part

df['kv_key'] = df.apply(lambda row: kv_key(row), axis=1)
# df

In [11]:
import pyarrow as pa
import pyarrow.parquet as pq 

table = pa.Table.from_pandas(df)

In [12]:
pq.write_to_dataset(
    table,
    root_path=f'{kv_dir}',
    partition_cols=['kv_key']
)

In [ ]:
parquet_path = results_dir.joinpath('routes-flattened.parquet')
print(parquet_path)
# pq.write_table(table,f'{parquet_path}')

7.b

Next, we are going to partition the dataset again, but this time we will partition by the hash value of the key. The following is a function that will create a SHA256 hash of the input key and return a hexadecimal string representation of the hash.

In [13]:
import hashlib

def hash_key(key):
    m = hashlib.sha256()
    m.update(str(key).encode('utf-8'))
    return m.hexdigest().capitalize()

In [14]:
df[['key','key_init','kv_key']]

            key key_init kv_key
0      AERKZN2B        A      A
1      ASFKZN2B        A      A
2      ASFMRV2B        A      A
3      CEKKZN2B        C    C-D
4      CEKOVB2B        C    C-D
...         ...      ...    ...
67658  WYAADLZL        W    W-X
67659  DMEFRUZM        D    C-D
67660  FRUDMEZM        F    E-F
67661  FRUOSSZM        F    E-F
67662  OSSFRUZM        O    O-P

[67663 rows x 3 columns]

In [15]:
df['hashed'] = df.apply(lambda row: hash_key(row['key']), axis=1)

In [16]:
df[['key','key_init','kv_key','hashed']]

,key,key_init,kv_key,hashed
0,AERKZN2B,A,A,652cdec02010381f175efe499e070c8cbaac1522bac59a...
1,ASFKZN2B,A,A,9eea5dd88177f8d835b2bb9cb27fb01268122b635b241a...
2,ASFMRV2B,A,A,161143856af25bd4475f62c80c19f68936a139f653c1d3...
3,CEKKZN2B,C,C-D,39aa99e6ae2757341bede9584473906ef1089e30820c90...
4,CEKOVB2B,C,C-D,143b3389bce68eea3a13ac26a9c76c1fa583ec2bd26ea8...
...,...,...,...,...
67658,WYAADLZL,W,W-X,F31527be84c36208c05cac57dfac8a46b48a87dda151f8...
67659,DMEFRUZM,D,C-D,880fc35ca283ad034c90becc4e331b72ee894b9eb69f76...
67660,FRUDMEZM,F,E-F,E976939986fbf947bb9318018cef717c0b34dff91e5e67...
67661,FRUOSSZM,F,E-F,8b0c0b835a58a4250e020d51ec2a896e4ef3f5c3543b8e...
67662,OSSFRUZM,O,O-P,629f14f3fb6f94ebd1522d33a3c50675942e3148d028b4...

In [17]:
df['hash_key'] = df['hashed'].astype(str).str[0]
df[['key','key_init','kv_key','hashed','hash_key']]

,key,key_init,kv_key,hashed,hash_key
0,AERKZN2B,A,A,652cdec02010381f175efe499e070c8cbaac1522bac59a...,6
1,ASFKZN2B,A,A,9eea5dd88177f8d835b2bb9cb27fb01268122b635b241a...,9
2,ASFMRV2B,A,A,161143856af25bd4475f62c80c19f68936a139f653c1d3...,1
3,CEKKZN2B,C,C-D,39aa99e6ae2757341bede9584473906ef1089e30820c90...,3
4,CEKOVB2B,C,C-D,143b3389bce68eea3a13ac26a9c76c1fa583ec2bd26ea8...,1
...,...,...,...,...,...
67658,WYAADLZL,W,W-X,F31527be84c36208c05cac57dfac8a46b48a87dda151f8...,F
67659,DMEFRUZM,D,C-D,880fc35ca283ad034c90becc4e331b72ee894b9eb69f76...,8
67660,FRUDMEZM,F,E-F,E976939986fbf947bb9318018cef717c0b34dff91e5e67...,E
67661,FRUOSSZM,F,E-F,8b0c0b835a58a4250e020d51ec2a896e4ef3f5c3543b8e...,8
67662,OSSFRUZM,O,O-P,629f14f3fb6f94ebd1522d33a3c50675942e3148d028b4...,6

In [18]:
hash_dir = results_dir.joinpath('hash')
hash_dir.mkdir(parents=True, exist_ok=True)

In [19]:
table = pa.Table.from_pandas(df)

pq.write_to_dataset(
    table,
    root_path=f'{hash_dir}',
    partition_cols=['hash_key']
)

#### 7.1.c

#### In the next few cells doing some EDA on the dataset and was planning to take in the US only airport locations.

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67663 entries, 0 to 67662
Data columns (total 43 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   airline_airline_id      67663 non-null  int64
 1   airline_name            67663 non-null  object
 2   airline_alias           67663 non-null  object
 3   airline_iata            67663 non-null  object
 4   airline_icao            67663 non-null  object
 5   airline_callsign        67663 non-null  object
 6   airline_country         67663 non-null  object
 7   airline_active          67663 non-null  bool
 8   src_airport_airport_id  67180 non-null  float64
 9   src_airport_name        67180 non-null  object
 10  src_airport_city        67180 non-null  object
 11  src_airport_country     67180 non-null  object
 12  src_airport_iata        67180 non-null  object
 13  src_airport_icao        67180 non-null  object
 14  src_airport_latitude    67180 non-null  float64
 15  src_airport_longitude   67180 non-null  float64
 16  src_airport_altitude    67180 non-null  float64
 17  src_airport_timezone    67180 non-null  float64
 18  src_airport_dst         67180 non-null  object
 19  src_airport_tz_id       67180 non-null  object
 20  src_airport_type        67180 non-null  object
 21  src_airport_source      67180 non-null  object
 22  dst_airport_airport_id  67175 non-null  float64
 23  dst_airport_name        67175 non-null  object
 24  dst_airport_city        67175 non-null  object
 25  dst_airport_country     67175 non-null  object
 26  dst_airport_iata        67175 non-null  object
 27  dst_airport_icao        67175 non-null  object
 28  dst_airport_latitude    67175 non-null  float64
 29  dst_airport_longitude   67175 non-null  float64
 30  dst_airport_altitude    67175 non-null  float64
 31  dst_airport_timezone    67175 non-null  float64
 32  dst_airport_dst         67175 non-null  object
 33  dst_airport_tz_id       67175 non-null  object
 34  dst_airport_type        67175 non-null  object
 35  dst_airport_source      67175 non-null  object
 36  codeshare               67663 non-null  bool
 37  equipment               67663 non-null  object
 38  key                     67663 non-null  object
 39  key_init                67663 non-null  object
 40  kv_key                  67180 non-null  object
 41  hashed                  67663 non-null  object
 42  hash_key                67663 non-null  object
dtypes: bool(2), float64(10), int64(1), object(30)
memory usage: 21.3+ MB

In [21]:
df.src_airport_country.value_counts()

United States              13100
China                       8212
United Kingdom              2663
Spain                       2531
Germany                     2352
                           ...
Tuvalu                         1
American Samoa                 1
Cocos (Keeling) Islands        1
Falkland Islands               1
Niue                           1
Name: src_airport_country, Length: 225, dtype: int64

In [22]:
#  total number of missing values in each column
df.isna().sum()

airline_airline_id          0
airline_name                0
airline_alias               0
airline_iata                0
airline_icao                0
airline_callsign            0
airline_country             0
airline_active              0
src_airport_airport_id    483
src_airport_name          483
src_airport_city          483
src_airport_country       483
src_airport_iata          483
src_airport_icao          483
src_airport_latitude      483
src_airport_longitude     483
src_airport_altitude      483
src_airport_timezone      483
src_airport_dst           483
src_airport_tz_id         483
src_airport_type          483
src_airport_source        483
dst_airport_airport_id    488
dst_airport_name          488
dst_airport_city          488
dst_airport_country       488
dst_airport_iata          488
dst_airport_icao          488
dst_airport_latitude      488
dst_airport_longitude     488
dst_airport_altitude      488
dst_airport_timezone      488
dst_airport_dst           488
dst_airport_tz_id         488
dst_airport_type          488
dst_airport_source        488
codeshare                   0
equipment                   0
key                         0
key_init                    0
kv_key                    483
hashed                      0
hash_key                    0
dtype: int64

In [23]:
us_airports = df[df['src_airport_country'] == 'United States']
us_airports.src_airport_city.value_counts()

Atlanta              915
Chicago              697
New York             614
Los Angeles          492
Dallas-Fort Worth    469
                    ...
Salina                 1
McCook                 1
Topeka                 1
Wolf Point             1
Scammon Bay            1
Name: src_airport_city, Length: 530, dtype: int64

In [24]:
us_airports.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13100 entries, 170 to 67570
Data columns (total 43 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   airline_airline_id      13100 non-null  int64
 1   airline_name            13100 non-null  object
 2   airline_alias           13100 non-null  object
 3   airline_iata            13100 non-null  object
 4   airline_icao            13100 non-null  object
 5   airline_callsign        13100 non-null  object
 6   airline_country         13100 non-null  object
 7   airline_active          13100 non-null  bool
 8   src_airport_airport_id  13100 non-null  float64
 9   src_airport_name        13100 non-null  object
 10  src_airport_city        13100 non-null  object
 11  src_airport_country     13100 non-null  object
 12  src_airport_iata        13100 non-null  object
 13  src_airport_icao        13100 non-null  object
 14  src_airport_latitude    13100 non-null  float64
 15  src_airport_longitude   13100 non-null  float64
 16  src_airport_altitude    13100 non-null  float64
 17  src_airport_timezone    13100 non-null  float64
 18  src_airport_dst         13100 non-null  object
 19  src_airport_tz_id       13100 non-null  object
 20  src_airport_type        13100 non-null  object
 21  src_airport_source      13100 non-null  object
 22  dst_airport_airport_id  13021 non-null  float64
 23  dst_airport_name        13021 non-null  object
 24  dst_airport_city        13021 non-null  object
 25  dst_airport_country     13021 non-null  object
 26  dst_airport_iata        13021 non-null  object
 27  dst_airport_icao        13021 non-null  object
 28  dst_airport_latitude    13021 non-null  float64
 29  dst_airport_longitude   13021 non-null  float64
 30  dst_airport_altitude    13021 non-null  float64
 31  dst_airport_timezone    13021 non-null  float64
 32  dst_airport_dst         13021 non-null  object
 33  dst_airport_tz_id       13021 non-null  object
 34  dst_airport_type        13021 non-null  object
 35  dst_airport_source      13021 non-null  object
 36  codeshare               13100 non-null  bool
 37  equipment               13100 non-null  object
 38  key                     13100 non-null  object
 39  key_init                13100 non-null  object
 40  kv_key                  13100 non-null  object
 41  hashed                  13100 non-null  object
 42  hash_key                13100 non-null  object
dtypes: bool(2), float64(10), int64(1), object(30)
memory usage: 4.2+ MB

In [25]:
us_airports[['src_airport_name','src_airport_city','src_airport_country','src_airport_latitude','src_airport_longitude']]

,src_airport_name,src_airport_city,src_airport_country,src_airport_latitude,src_airport_longitude
170,Kodiak Airport,Kodiak,United States,57.750000,-152.494003
171,Kodiak Airport,Kodiak,United States,57.750000,-152.494003
172,Kodiak Airport,Kodiak,United States,57.750000,-152.494003
173,Kodiak Airport,Kodiak,United States,57.750000,-152.494003
174,Kodiak Airport,Kodiak,United States,57.750000,-152.494003
...,...,...,...,...,...
67565,Sheridan County Airport,Sheridan,United States,44.769199,-106.980003
67566,Show Low Regional Airport,Show Low,United States,34.265499,-110.005997
67567,Show Low Regional Airport,Show Low,United States,34.265499,-110.005997
67569,Visalia Municipal Airport,Visalia,United States,36.318699,-119.392998
67570,Worland Municipal Airport,Worland,United States,43.965698,-107.950996

In [26]:
# def airport_search(latitude, longitude):
#    geohash = pygeohash.encode(latitude, longitude)
#    dist_dict = {}
#    for record in records:
#        dist = pygeohash.geohash_approximate_distance(str(geohash), str(record.get('geohash')))
#        dist_dict[dist] = record.get('src_airport')
#        
#        print(list(sorted(dist_dict.items()))[0][1]['name'])
#        pass
    
# airport_search(41.1499988, -95.91779)

In [27]:
# Adding a new column to the dataframe keeping all the rows for the geohash

df['src_airport_geohash'] = df.apply( lambda row: pygeohash.encode(row.src_airport_latitude, row.src_airport_longitude), axis=1)

In [28]:
df[['src_airport_name','src_airport_city','src_airport_country','src_airport_latitude','src_airport_longitude','src_airport_geohash']]

,src_airport_name,src_airport_city,src_airport_country,src_airport_latitude,src_airport_longitude,src_airport_geohash
0,Sochi International Airport,Sochi,Russia,43.449902,39.956600,szsrjjzd02b3
1,Astrakhan Airport,Astrakhan,Russia,46.283298,48.006302,v04pk3t5gbjj
2,Astrakhan Airport,Astrakhan,Russia,46.283298,48.006302,v04pk3t5gbjj
3,Chelyabinsk Balandino Airport,Chelyabinsk,Russia,55.305801,61.503300,v3gdxs17du83
4,Chelyabinsk Balandino Airport,Chelyabinsk,Russia,55.305801,61.503300,v3gdxs17du83
...,...,...,...,...,...,...
67658,Whyalla Airport,Whyalla,Australia,-33.058899,137.514008,r41gcjy9uwef
67659,Domodedovo International Airport,Moscow,Russia,55.408798,37.906300,ucfgnwfe8u9e
67660,Manas International Airport,Bishkek,Kyrgyzstan,43.061298,74.477600,txsuyz0fjzgd
67661,Manas International Airport,Bishkek,Kyrgyzstan,43.061298,74.477600,txsuyz0fjzgd
67662,Osh Airport,Osh,Kyrgyzstan,40.609001,72.793297,tx5z02wkwf2p

In [34]:
# Creating a function to determine the airport location based on geohash key
def determine_location(src_airport_geohash):
    locations = dict(
        central=pygeohash.encode(41.1544433, -96.0422378),
        west=pygeohash.encode(45.5945645, -121.1786823),
        east=pygeohash.encode(39.08344, -77.6497145)
    )
    
    distances = []
    for key in locations:
        distance = pygeohash.geohash_haversine_distance(src_airport_geohash,locations[key])
        distances.append([distance,key])
    
    distances.sort()
    return distances[0][1]

In [35]:
df['location'] = df['src_airport_geohash'].apply(determine_location)

In [36]:
df[['src_airport_name','src_airport_city','src_airport_country','src_airport_geohash','location']]

,src_airport_name,src_airport_city,src_airport_country,src_airport_geohash,location
0,Sochi International Airport,Sochi,Russia,szsrjjzd02b3,east
1,Astrakhan Airport,Astrakhan,Russia,v04pk3t5gbjj,east
2,Astrakhan Airport,Astrakhan,Russia,v04pk3t5gbjj,east
3,Chelyabinsk Balandino Airport,Chelyabinsk,Russia,v3gdxs17du83,west
4,Chelyabinsk Balandino Airport,Chelyabinsk,Russia,v3gdxs17du83,west
...,...,...,...,...,...
67658,Whyalla Airport,Whyalla,Australia,r41gcjy9uwef,west
67659,Domodedovo International Airport,Moscow,Russia,ucfgnwfe8u9e,east
67660,Manas International Airport,Bishkek,Kyrgyzstan,txsuyz0fjzgd,west
67661,Manas International Airport,Bishkek,Kyrgyzstan,txsuyz0fjzgd,west
67662,Osh Airport,Osh,Kyrgyzstan,tx5z02wkwf2p,west

In [37]:
df.to_parquet('results/geo', partition_cols=['location'])

In [ ]:
determine_location('szsrjjzd02b3')

In [29]:
distances = pygeohash.geohash_haversine_distance('szsrjjzd02b3','9z7dnebnj8kb')
distances

9628959.589672396

In [30]:
locations = dict(
    central=pygeohash.encode(41.1544433, -96.0422378),
    west=pygeohash.encode(45.5945645, -121.1786823),
    east=pygeohash.encode(39.08344, -77.6497145)
)

In [31]:
locations

{'central': '9z7dnebnj8kb', 'west': 'c21g6s0rs4c7', 'east': 'dqby34cjw922'}

In [32]:
distances = []
for key in locations:
    distance = pygeohash.geohash_haversine_distance('szsrjjzd02b3',locations[key])
    distances.append([distance,key])
    # print(key, '->', locations[key])

distances

[[9628959.589672396, 'central'],
 [9939943.709422417, 'west'],
 [8903403.083712695, 'east']]

In [33]:
distances.sort()
distances[0][1]

'east'

In [ ]:
l

In [ ]:
lst = [(1,'peter'), (5,'mary'), (6,'anthony'), (4,'brandon')]
lst.sort()
lst